.banner {
  --image: url(../images/banner.jpg);
  --width: min(1800px, calc(100% - 2 * var(--container-padding)));

  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    var(--image) no-repeat center center;
  background-size: cover;
  margin-inline: auto;
  border-radius: 20px;
  color: var(--text-inversed);
  max-width: var(--width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: max(2rem, calc((var(--width) - var(--container-width)) / 2));
  padding-block: 2rem;
}

.banner > * {
  max-width: 675px;
}

.banner_description {
  margin-top: 0.125rem;
  margin-bottom: 1.75rem;
}

@media (min-width: 610px) {
  .banner {
    --image: url(../images/banner-desktop.jpg);
    border-radius: 40px;
  }
}

@media (min-width: 1100px) {
  .banner {
    min-height: 743px;
  }
}
