.btn-bordered,
.btn-filled {
    display: inline-block;
    font-size: 1.125rem;
    line-height: 1.56;
    font-weight: 500;
    padding: 0.75rem 2.25rem;
    border-radius: 2rem ;
    color: var(--contrast);
    border: 1px solid var(--contrast);
    transition: .3s;
    width: max-content;

    @media (min-width:1100px) {
        /*en haut et en bas*/
        padding-block : 1.125rem;
    }

     &:hover {
        background-color: var(--contrast);
        color: var(--text-inversed);
     }
}

.btn-filled {
    background-color: var(--contrast);
    color: var(--text-inversed);
    border-color: var(--contrast-border);

    &:hover {
        background-color: var(--text-inversed);
        color: var(--contrast);
     }
}