.section-trending {
    display: flex;
    flex-direction: column;
    gap: 1.875rem ;
    align-items: center;
    position: relative;
}

.products-grid {
    display: grid;
    gap: 16px 8px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.product-card {
    display: flex;
    flex-direction: column;
    border: solid 1px var(--border);
    background: var(--text-inversed);
    padding: 6px 6px 16px 6px;
    border-radius: 20px;
    position: relative;
    transition: .3s;
      box-shadow: 2px 3px 30px rgba(208,185,181,0.13);

    &:hover {
        border-color: var(--contrast);
    }

    .location {
        margin: 12px 0 14px 8px;
    }

/* Rendre toute la carte cliquable grâce à pseudo élément*/
    .product-card_title::after {
        content: '';
        z-index: 2;
        position: absolute;
        inset: 0;
    }
}

.product-card_image {
    width: 100%;
    aspect-ratio: 161/124;
    height: auto ;
    object-fit: cover;
    border-radius: 18px;
}

.location {
    padding: 0.25rem 0.75rem;
    background: var(--contrast-light);
    border-radius: 110px;
    color: var(--contrast);
    font-size: 0.625rem;
    line-height: 2 ;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    width: max-content;
    --icon-size : 0.75rem;

    svg {
        width: var(--icon-size);
        height: var(--icon-size);
    }
}

.product-card_body {
    margin-top: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-inline: 8px;
    gap: 0.375rem;
}

.product-card_like {
    z-index: 3;
    width: 30px;
    height: 30px;
    background: rgb(255, 255, 255, 0.35);
    border-radius: 100%;
    display: grid;
    place-items: center;

    position: absolute;
    top: 16px;
    right: 16px;
    transition: .3s;
    --icon-size: 14px;

    svg {
        width: var(--icon-size);
        height: var(--icon-size);
    }

    &:hover {
        color: var(--price);
        transform: scale(1.1);
        background: rgb(255, 255, 255, 0.6) ;
    }
}

@media (min-width:700px) {
    .products-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .section-trending {
        gap: 3.125rem;
        align-items: flex-start;
    }

    .section-trending .btn-bordered {
        position: absolute;
        top: -0.3rem;
        right: var(--container-padding);
    }
}

@media (min-width:1100px) {
    .products-grid {
        gap: 1.25rem 1.69rem;
    }

    .product-card {
        padding: 12px 12px 24px 12px;
    }

    .location {
        font-size: 1rem;
        --icon-size: 1.125rem;
    }

    .product-card .location {
        margin-top: 34px;
        margin-bottom: 14px;
    }
    
    .product-card_like {
        width: 48px;
        height: 48px;
        top: 28px;
        right: 28px;
        --icon-size: 21px;
    }

}