* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif ;
    color: var(--text-light);
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p  {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    text-wrap: balance;
}

a {
    text-decoration: inherit;
    color: currentColor;
}

button {
    background: unset;
    border: none;
    cursor: pointer;
}